@model IEnumerable<PassionProject.Models.Order>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            Order Id
        </th>
        <th>
            Customer Name
        </th>
        <th>
            Order Date
        </th>
        <th>
            Order Price
        </th>
    </tr>
    @{
        foreach(var item in Model){
            <tr>
                <td>
                    @item.orderId
                </td>
                <td>
                    @item.Customer.customerFirstName  @item.Customer.customerLastName
                </td>
                <td>
                    @item.orderDate
                </td>
                <td>
                    @item.orderPrice
                </td>
            </tr>
        }

    }

    @*@{
            foreach (var jersey in Model.jerseys)
            {
                <tr>
                    <td>
                        @jersey.jerseyName
                    </td>
                    <td>
                        @jersey.jerseySize
                    </td>
                    <td>
                        @jersey.jerseyPrice
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = jersey.jerseyId })
                    </td>
                </tr>
            }
        }*@


</table>
@Html.ActionLink("Back to List", "List")|
@*@Html.ActionLink("Buy", "Buy", new { id = jersey.jerseyId })*@
