@model PassionProject.Models.Jersey

@{
    ViewBag.Title = "DeleteJersey";
}


<h3>Are you sure you want to delete the jersey: @Model.jerseyName</h3>
<div>
    <div>
        <label class="font-weight-bold">Name</label>
        <label class="font-italic">@Model.jerseyName</label>
    </div>
    <div>
        <label class="font-weight-bold">Description</label>
        <label  class="font-italic">@Model.jerseyDescription</label>
    </div>
    <div>
        <label class="font-weight-bold">Size</label>
        <label  class="font-italic">@Model.jerseySize</label>
    </div>
    <div>
        <label class="font-weight-bold">Price</label>
        <label  class="font-italic">$@Model.jerseyPrice</label>
    </div>
    <div>
        <label class="font-weight-bold">Stock</label>
        <label  class="font-italic">@Model.jerseyStock</label>
    </div>
    <form class="" action="/Jersey/Delete/@Model.jerseyId">
        <input type="submit" value="Delete Jersey" class="btn btn-danger" />
        <a href="/Jersey/List" class="btn btn-primary">Back to Jerseys</a>
    </form>
</div>
