@model IEnumerable<PassionProject.Models.Jersey>

@{
    ViewBag.Title = "JerseyView";
}

<h2>JerseyView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.jerseyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jerseySize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jerseyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jerseyPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jerseyStock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.jerseyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jerseySize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jerseyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jerseyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jerseyStock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.jerseyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.jerseyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.jerseyId })
        </td>
    </tr>
}

</table>
