@model IEnumerable<PassionProject.Models.Jersey>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Stock
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.jerseyName
        </td>
        <td>
            @item.jerseySize
        </td>
        <td>
            @item.jerseyDescription
        </td>
        <td>
            @item.jerseyPrice
        </td>
        <td>
            @item.jerseyStock
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id=item.jerseyId }) |
            @Html.ActionLink("Details", "Show", new { id=item.jerseyId }) |
            @Html.ActionLink("Delete", "DeleteJersey", new { id=item.jerseyId })
        </td>
    </tr>
}

</table>
