@model PassionProject.Models.Jersey

@{
    ViewBag.Title = "ListJerseys";
}

@* THIS LIST IS FOR THE FUTURE USE OF CUSTOMER ONLY VIEW *@

<h2>ListJerseys</h2>

<table class="table">
    <tr>
        <th>
            Jersey Name
        </th>
        <th>
            Size
        </th>
        <th>
            price
        </th>
        <th>
            Remove
        </th>
    </tr>

    @{
        foreach (var jersey in Model.jerseys)
        {
            <tr>
                <td>
                    @jersey.jerseyName
                </td>
                <td>
                    @jersey.jerseySize
                </td>
                <td>
                    @jersey.jerseyPrice
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = jersey.jerseyId })
                </td>
            </tr>
        }
    }
    @Html.ActionLink("Add to Order", "Edit", new { id = item.jerseyId }) |
    @Html.ActionLink("View", "View", new { id = item.jerseyId })
    </td>
    </tr>
    }

</table>
