@model IEnumerable<PassionProject.Models.Customer>

@{
    ViewBag.Title = "List";
}

<h2>List of Customers</h2>

<p>
    <a href="/Customer/Add" class="btn btn-success">Add Customer</a>
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>
            Postal Code
        </th>
        <th>
            Country
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.customerFirstName
        </td>
        <td>
            @item.customerLastName
        </td>
        <td>
            @item.customerEmail
        </td>
        <td>
            @item.customerPhone
        </td>
        <td>
            @item.customerAddress
        </td>
        <td>
            @item.customerPostalCode
        </td>
        <td>
            @item.customerCountry
        </td>
        <td>
            <a href="/Customer/Show/@item.customerId" class="btn btn-info">View</a>
            <a href="/Customer/Update/@item.customerId" class="btn btn-secondary">Update</a>
            <a href="/Customer/DeleteCustomer/@item.customerId" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>
